{% extends "bootstrap/base.html" %}

{% block title %}Tic Tac Toe 2.0{% endblock %}
{% block navbar %}
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">390 App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>

      </div> 
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
<div class="container">
  {% block page_content %}blah{% endblock %}
</div>
{% endblock %}
